mat-form-field,textarea{
  width: 100%;
}

mat-spinner{
  margin: auto;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arrayButtons{
  background-color: #DE5961;
}
