<app-navbar></app-navbar>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>CIMF - Centre Informatique de Ministère des Finances</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </head>
    <body>
            <div id="status">
            </div>
        <div class="header-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-0">إضافة موظف</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a routerLink="/">CIMF</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">إضافة موظف</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-6 d-flex justify-content-center">
                    <div class="card" style="width:2000rem;">
                        <div class="card-body text-right">
                            <h4>إضافة موظف</h4>
                            <p class="text-muted m-b-30 font-500">.الرجاء ملء جميع خانات الإستمارة
                            </p>
                                  <div class="container">

                                    <form [formGroup]="formtest" (submit)="onSubmit()">

                                      <div class="form-group col-md-6 pull-right">
                                        <label>المعرف الوحيد</label>
                                          <div>
                                            <input type="text" formControlName="idUnique" class="form-control text-right" placeholder="الرجاء إدخال المعرف الوحيد"/>
                                          </div>
                                          <mat-error *ngIf="formtest.controls['idUnique'].invalid && (formtest.controls['idUnique'].dirty || formtest.controls['idUnique'].touched)">
                                            <mat-error *ngIf="formtest.controls['idUnique'].errors?.required">
                                              الرجاء إدخال المعرف الوحيد
                                            </mat-error>
                                            <mat-error *ngIf="formtest.controls['idUnique'].errors?.pattern">
                                              المعرف الوحيد يتكون من حرف واحد و 4 ارقام
                                            </mat-error>
                                          </mat-error>
                                      </div>

                                      <div class="form-group col-md-6 pull-left">
                                        <label>المعرف الداخلي</label>
                                          <div>
                                            <input type="text" formControlName="matricule" class="form-control text-right" placeholder="الرجاء إدخال المعرف الداخلي"/>
                                            <mat-error *ngIf="formtest.controls['matricule'].invalid && (formtest.controls['matricule'].dirty || formtest.controls['matricule'].touched)">
                                            <mat-error *ngIf="formtest.controls['matricule'].errors?.required">
                                              الرجاء إدخال المعرف الداخلي
                                            </mat-error>
                                            <mat-error *ngIf="formtest.controls['matricule'].errors?.pattern">
                                              المعرف الداخلي يجب أن يكون طوله 10 حروف
                                            </mat-error>
                                          </mat-error>
                                          </div>
                                      </div>

                                      <div class="form-group col-md-6 pull-right">
                                        <label>الإسم و اللقب</label>
                                          <div>
                                              <input type="text" formControlName="nomPrenom" class="form-control text-right" placeholder="الرجاء إدخال الإسم و اللقب"/>
                                              <mat-error *ngIf="formtest.controls['nomPrenom'].invalid && (formtest.controls['nomPrenom'].dirty || formtest.controls['nomPrenom'].touched)">
                                                <mat-error *ngIf="formtest.controls['nomPrenom'].errors?.required">
                                                  الرجاء إدخال الإسم و اللقب
                                                </mat-error>
                                              </mat-error>
                                          </div>
                                      </div>

                                      <div class="form-group col-md-6 pull-left">
                                        <label>الرتبة</label>
                                          <div>
                                              <select formControlName="role" class="form-control">
                                                <option selected value="direction">Direction</option>
                                                <option value="employe">Emploi</option>
                                              </select>
                                              <mat-error *ngIf="formtest.controls['role'].invalid && (formtest.controls['role'].dirty || formtest.controls['role'].touched)">
                                                <mat-error *ngIf="formtest.controls['role'].errors?.required">
                                                  الرجاء إختيار الرتبة
                                                </mat-error>
                                              </mat-error>
                                          </div>
                                      </div>

                                      <div class="form-group col-md-6 pull-right">
                                          <label>الخطة</label>
                                          <div>
                                              <input type="text" formControlName="emploi" class="form-control text-right" placeholder="الرجاء إدخال الخطة"/>
                                              <mat-error *ngIf="formtest.controls['emploi'].invalid && (formtest.controls['emploi'].dirty || formtest.controls['emploi'].touched)">
                                                <mat-error *ngIf="formtest.controls['emploi'].errors?.required">
                                                  الرجاء إدخال الخطة
                                                </mat-error>
                                              </mat-error>
                                          </div>
                                      </div>

                                      <div class="form-group col-md-6 pull-left">
                                        <label>التعيين</label>
                                          <div>
                                              <input formControlName="affectation" class="form-control text-right" type="text" placeholder="الرجاء إدخال التعيين"/>
                                              <mat-error *ngIf="formtest.controls['affectation'].invalid && (formtest.controls['affectation'].dirty || formtest.controls['affectation'].touched)">
                                                <mat-error *ngIf="formtest.controls['affectation'].errors?.required">
                                                  الرجاء إدخال التعيين
                                                </mat-error>
                                              </mat-error>
                                          </div>
                                      </div>

                                      <div class="form-group col-md-6 pull-right">
                                        <label>البريد الإلكتروني</label>
                                        <div>
                                            <input type="text" formControlName="adresse" class="form-control text-right" placeholder="الرجاء إدخال البريد الإلكتروني"/>
                                            <mat-error *ngIf="formtest.controls['adresse'].invalid && (formtest.controls['adresse'].dirty || formtest.controls['adresse'].touched)">
                                                <mat-error *ngIf="formtest.controls['adresse'].errors?.required">
                                                  الرجاء إدخال البريد الإلكتروني
                                                </mat-error>
                                              </mat-error>
                                        </div>
                                      </div>

                                      <div class="form-group col-md-6 pull-left">
                                        <label>كلمة المرور</label>
                                        <div>
                                          <input formControlName="password" class="form-control text-right" type="password" placeholder="الرجاء إدخال كلمة المرور">
                                          <mat-error *ngIf="formtest.controls['password'].invalid && (formtest.controls['password'].dirty || formtest.controls['password'].touched)">
                                            <mat-error *ngIf="formtest.controls['password'].errors?.required">
                                              الرجاء إدخال كلمة المرور
                                            </mat-error>
                                          </mat-error>
                                        </div>
                                      </div>

                                      <div class="form-group col-md-12 pull-right">
                                        <label>عدد أيام العطل</label>
                                        <div class="container col-md-12">
                                          <div class="row">
                                            <input formControlName="newAnnuel" class="form-control text-center col-md-3 mx-1" type="number" placeholder="السنوية">
                                                <mat-error *ngIf="formtest.controls['newAnnuel'].invalid && (formtest.controls['newAnnuel'].dirty || formtest.controls['newAnnuel'].touched)">
                                                  <mat-error *ngIf="formtest.controls['newAnnuel'].errors?.required">
                                                   الرجاء إدخال العطلة السنوية
                                                  </mat-error>
                                                </mat-error>
                                            <input formControlName="newExceptionnel" class="form-control text-center col-md-3 mx-1" type="number" placeholder="الإستثنائية">
                                              <mat-error *ngIf="formtest.controls['newExceptionnel'].invalid && (formtest.controls['newExceptionnel'].dirty || formtest.controls['newExceptionnel'].touched)">
                                                <mat-error *ngIf="formtest.controls['newExceptionnel'].errors?.required">
                                                  الرجاء إدخال العطلة الإستثنائية
                                                </mat-error>
                                              </mat-error>
                                            <input formControlName="newCompensation" class="form-control text-center col-md-3 mx-1" type="number" placeholder="التعويضية">
                                            <mat-error *ngIf="formtest.controls['newCompensation'].invalid && (formtest.controls['newCompensation'].dirty || formtest.controls['newCompensation'].touched)">
                                                  <mat-error *ngIf="formtest.controls['newCompensation'].errors?.required">
                                                    الرجاء إدخال العطلة التعويضية
                                                  </mat-error>
                                                </mat-error>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="form-group col-md-12 pull-right my-2">
                                        <div class="add-ancienConges-form" [formGroup]="formtest">
                                          <label>سجل العطل السابقة</label>
                                          <ng-container formArrayName="ancienConges">
                                            <ng-container *ngFor="let ancienCongeForm of ancienConges.controls; let i=index">
                                              <div class="lesson-form-row" [formGroupName]="i">

                                                <div class="container">
                                                  <div class="row my-2">
                                                    <input type="number" formControlName="annee" class="form-control text-center col-md-2 mx-1" placeholder="السنة">

                                                    <input type="number" formControlName="annuel" class="form-control text-center col-md-2 mx-1" placeholder="سنوية">

                                                    <input type="number" formControlName="exceptionnel" class="form-control text-center col-md-2 mx-1" placeholder="إستثنائية">

                                                    <input type="number" formControlName="compensation" class="form-control text-center col-md-2 mx-1" placeholder="تعويضية">

                                                    <button mat-mini-fab type="button" class="delete-btn mx-2 arrayButtons" (click)="deleteAncienConge(i)"><fa-icon [icon]="faTrash"></fa-icon></button>

                                                  </div>

                                                </div>

                                              </div>
                                            </ng-container>
                                            <div class="form-group">
                                              <button class="arrayButtons" mat-mini-fab type="button" (click)="addAncienConge()">
                                                <mat-icon class="add-course-btn">add</mat-icon>
                                              </button>
                                        </div>
                                          </ng-container>
                                        </div>
                                      </div>

                                      <div class="form-group col-md-6 pull-right my-2">
                                        <div class="add-direction-form" [formGroup]="formtest">
                                          <label>المسؤولين</label>
                                          <ng-container formArrayName="directions">
                                            <ng-container *ngFor="let direction of directions.controls; let i=index">
                                              <div class="lesson-form-row" [formGroupName]="i">
                                                <div class="container">
                                                  <div class="row my-2">
                                                    <input type="text" formControlName="direction" class="form-control text-center col-md-5" placeholder="المعرف الوحيد">

                                                    <button mat-mini-fab type="button" class="delete-btn mx-2 arrayButtons" (click)="deleteDirection(i)"><fa-icon [icon]="faTrash"></fa-icon></button>
                                                  </div>
                                                </div>
                                              </div>
                                            </ng-container>
                                            <div class="form-group">
                                              <button class="arrayButtons" mat-mini-fab type="button" (click)="addDirection()">
                                                <mat-icon class="add-course-btn">add</mat-icon>
                                              </button>
                                            </div>
                                          </ng-container>
                                        </div>
                                      </div>

                                      <div class="text-center">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light btn-lg btn-block" [disabled]="!formtest.valid" [ngStyle]=" {'background-color': formtest.valid ? '#DE5961' : '#007500'} ">
                                          إرسال
                                        </button>
                                      </div>

                                    </form>

                                  </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>
