<html>

    <head>
        <title>مطلب عطلة</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta http-equiv="content-type" content="text/html; charset=UTF8">
    </head>



    <body>

            <div id="testpdf">
            <div class="container-fluid">

            <div class="row">

                <div class="col-sm-3 mt-5 text-center">
                    <h3 id="testtextpdf">إلى السيد المدير العام لمركز الإعلامية لوزلرة المالية</h3>
                </div>
                <div class="col-sm text-right">
                    <img src="assets/images/cimf-logo-pdf.png">
                </div>

            </div>

            <div class="row">

                <div class="container mt-5">

                    <div class="row">
                        <div class="col-sm text-left">

                            <div class="d-flex flex-row">
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.matricule[0]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.matricule[1]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.matricule[2]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.matricule[3]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.matricule[4]}}
                                    </div>

                                <div class="p-2" id="testtextpdf">: المعرف الداخلي </div>

                            </div>
                        </div>

                        <div class="col-sm text-right">
                            <div class="d-flex flex-row-reverse">

                                    <div class="p-2" id="testtextpdf"> : المعرف الوحيد </div>

                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[9]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[8]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[7]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[6]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[5]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[4]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[3]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[2]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[1]}}
                                    </div>
                                    <div class="border border-dark p-2 font-weight-bold">
                                        {{conge.idUnique[0]}}
                                    </div>



                            </div>

                        </div>
                    </div>

                </div>

                <div class="container mt-2">

                    <div class="row">

                        <div class="col-sm text-left">
                            <div class="d-flex flex-row">
                                <div class="mt-2 font-weight-bold">{{conge.emploi}}</div>
                                <div class="p-2" id="testtextpdf">: الخطة</div>

                            </div>
                        </div>

                        <div class="col-sm text-right">
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2" id="testtextpdf">: الإسم و اللقب</div>
                                <div class="mt-2 font-weight-bold">{{conge.nomPrenom}}</div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="container mt-2">

                    <div class="row">

                        <div class="col-sm text-left">
                            <div class="d-flex flex-row">
                                <div class="mt-2 font-weight-bold">{{conge.affectation}}</div>
                                <div class="p-2" id="testtextpdf">: التعيين</div>

                            </div>
                        </div>

                        <div class="col-sm text-right">
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2" id="testtextpdf">: الوظيفة</div>
                                <div class="mt-2 font-weight-bold">{{conge.travail}}</div>
                            </div>
                        </div>

                    </div>

                </div>



                <div class="container my-5 border border-dark">

                    <div class="text-center my-2">
                        <h3 id="testtextpdf">  الموضوع : مطلب عطلة </h3>
                    </div>

                </div>

                <div class="container pt-2">

                    <div class="row">
                        <div class="col-sm">
                            <div class="d-flex flex-row-reverse">
                                <p id="testtextpdf"> : إني الممضي(ة) أسفله أتقدم إلى سيادتكم بهذا المطلب قصد تمكيني من العطلة التالية</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="container pt-4">
                    <div>
                        <div class="d-flex flex-row-reverse justify-content-between">
                            <div class="col-sm text-right pr-0" id="testtextpdf">
                                : نوعية العطلة المطلوبة
                            </div>

                            <div class="col-sm">
                                <div class="d-flex flex-row">
                                    <div class="border border-dark mr-3" id="type-conge-class" [ngStyle]="{'background-color':conge.typeConge === 'سنوية' ? 'black' : 'white'}"></div>
                                    <div id="testtextpdf">سنوية</div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="d-flex flex-row">
                                    <div class="border border-dark mr-3" id="type-conge-class" [ngStyle]="{'background-color':conge.typeConge === 'إستثنائية' ? 'black' : 'white'}"></div>
                                    <div id="testtextpdf">إستثنائية</div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="d-flex flex-row">
                                    <div class="border border-dark mr-3" id="type-conge-class" [ngStyle]="{'background-color':conge.typeConge === 'تعويضية' ? 'black' : 'white'}"></div>
                                    <div id="testtextpdf">تعويضية</div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="d-flex flex-row">
                                    <div class="border border-dark mr-3" id="type-conge-class" [ngStyle]="{'background-color':conge.typeConge === 'أخرى' ? 'black' : 'white'}"></div>
                                    <div id="testtextpdf">أخرى</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="container pt-4">

                    <div class="row">

                            <div class="col-sm">
                                <div class="d-flex flex-row-reverse justify-content-end">
                                    <div id="testtextpdf">إلى غاية </div>
                                    <div class="border border-dark mr-2 font-weight-bold" id="date-debut-class">{{conge.dateFin | date:'dd'}}</div>
                                    <div class="border border-dark font-weight-bold" id="date-debut-class">{{conge.dateFin | date:'MM'}}</div>
                                    <div class="border border-dark font-weight-bold" id="date-fin-class">{{conge.dateFin | date:'yyyy'}}</div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="d-flex flex-row-reverse justify-content-center">
                                    <div id="testtextpdf">و ذلك من </div>
                                    <div class="border border-dark mr-2 font-weight-bold" id="date-debut-class">{{conge.dateDebut | date:'dd'}}</div>
                                    <div class="border border-dark font-weight-bold" id="date-debut-class">{{conge.dateDebut | date:'MM'}}</div>
                                    <div class="border border-dark font-weight-bold" id="date-fin-class">{{conge.dateDebut | date:'yyyy'}}</div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="d-flex flex-row-reverse">
                                    <div id="testtextpdf">مدتها</div>
                                    <div class="border border-dark mx-3 font-weight-bold" id="date-fin-class">{{conge.dureeConge}}</div>
                                    <div id="testtextpdf">أيام / يوم</div>
                                </div>
                            </div>
                    </div>

                </div>


                <div class="container pt-4">

                    <div class="text-right">

                        <div class="d-flex flex-row-reverse">
                            <div id="testtextpdf">  :  العنوان و الهاتف أثناء فترة الإقامة  </div>
                            <div class="px-2 font-weight-bold">{{conge.adresse}}</div>
                        </div>

                    </div>

                </div>

                <div class="container pt-2">

                    <div class="row">
                        <div class="col-sm">
                            <div class="d-flex flex-row-reverse">
                                <p id="testtextpdf">.في الإنتظار , تقبلوا سيدي المدير فائق عبارات التقدير و الإحترام</p>
                            </div>
                        </div>
                    </div>

                </div>

                 <div class="container pt-2">

                    <div class="row">
                        <div class="col-sm">
                            <div class="d-flex flex-row">
                                <div class="mx-2 font-weight-bold">{{conge.congeDate | date: 'dd/MM/yyyy'}}</div>
                                <p id="testtextpdf"> : التاريخ</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


      </div>
        <div class="text-center">
          <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">
        </div>
    </body>


</html>
